
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}
.App-intro {font-size: large;}
@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
.btn{ background-color: blue; margin-bottom: 20px; color: white; }
input{margin-bottom: 20px; width: 300px; }
button{width:80px; height: 30px}
form{ display: flex;justify-content:center;flex-wrap: wrap; margin-right:0px }
.border-dep{text-align: left; padding-left: 500px; }


ul {
  background: #01062019;
  list-style-type: none;
  text-align: center;
}
li {
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
.dep {
  text-decoration: none;
  color: black;
  display: block;
}
table{border: #aaa 1px solid; width: 900px; background: #eee }
td{width:450px; padding-left:30px; }
th{width:450px; padding-left:30px; }

.center{margin-left:120px }
h3{margin-left:180px}